<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
  {% capture url %}{{ page.url | remove:'index.html' }}{% endcapture %}
	<div class="top-navigation">
		<nav aria-label="Primary" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul>
		        {% for link in site.links %}
            {% assign navigation_current = false %}
            {% if url == link.url %}
              {% assign navigation_current = true %}
            {% elsif link.url != '/' and url contains link.url %}
              {% assign navigation_current = true %}
            {% endif %}
            <li><a href="{{ site.url }}{{ link.url }}"{% if navigation_current %} class="top-navigation-current" aria-current="page"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

<!-- Lastly modified by Hanlin CAI in 2023/05/01 -->
